h1 {
  font-family: 'Roboto';
  font-size: 90px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  color: #333;
  margin: 10px 0 25px 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

audio {
  margin-bottom: 10px;
}

canvas {
  border-radius: 5px;
  background: #121212;
  margin-bottom: 25px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

#dragdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px dashed darkslategrey;
  background: lightgreen;
  display: flex;
  pointer-events: none;
  color: darkslategrey;
  font-family: sans-serif;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  transform: rotate(90deg);
  transform-origin: top left;
  opacity: 0;
}
#dragdrop.show {
  opacity: 0.9;
  transform: none;
}

#record,
#delete {
  padding: 15px;
  background: green;
  font-family: 'Roboto';
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 15px;
}

#delete {
  display: none;
}

#record.recorded ~ #delete {
  display: initial;
}

#delete {
  background: red;
}

#record.recording {
  background: red;
}

canvas {
  width: 75%;
  height: 400px;
}

canvas:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

label {
  width: 300px;
  font-family: 'Roboto';
  text-align: left;
  font-size: 20px;
  color: #333;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

input[type=number] {
  display: inline-block;
  width: 50px !important;
  margin: 0 5px;
}

select {
  width: 300px;
  height: 30px;
  margin-bottom: 15px;
}

input[type="range"] {
  height: 30px;
  width: 300px;
  margin-bottom: 15px;
}